body{
    background-color: #f0f4f8;
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 60px;
    border-radius: 10px;
}

#sendBtn{
    margin-top: 40px;
    padding: 10px;
}

h1{
    text-align: center;
    margin: 80px;
}

#message{
    text-align: center;
    font-size: 20px;
    font-style: italic;
}